@import "node_modules/bulma/sass/utilities/initial-variables";
.share {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: opacity ease .2s;
    &:before, &:active {
        content: '';
        display: block;
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $blue;
    }
    .button {
        display: inline-block;
    }
    &:hover, &:active {
        opacity: 1;
        &:before {
            opacity: .6;
        }
    }
}