// 1. Import the initial variables
@import "node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// see: http://bulma.io/documentation/overview/variables/
// Update blue
//$blue: #72d0eb;
// Add pink
//$pink: #ffb3b3;
// Add a serif family
//$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;
// Use the existing orange as the danger color
//$danger: $orange;
// Use the new serif family
//$family-primary: $family-serif;

@import 'node_modules/bulma/bulma.sass';

.is-vertically-centered {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.Site  {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
    flex: 1;
}